@page "/EditUser/{UserID:int}"
@using DA.DinnerPlanner.Model;
@using DA.DinnerPlanner.Model.UnitsTypes
@inject DinnerPlannerContext dpcontext
@if (EditingUser != null)
{
	<h3>EditUser</h3>
	<EditForm Model="@EditingUser" OnSubmit="OnEditUserSubmit">
		<div class="form-group">
			<label>Lastname:</label>
			<InputText @bind-Value="@EditingUser.LastName"></InputText>
			<br />
			<label>Firstname:</label>
			<InputText @bind-Value="@EditingUser.FirstName"></InputText>
			<br />
			<label>Birthdate:</label>
			<InputDate @bind-Value="@EditingUser.BirthDate"/>
			<br />
			<label>I'm a cook</label>
			<InputCheckbox @bind-Value="@EditingUser.AvailableAsCook"></InputCheckbox>
			<br />
			<label>Eating habit:</label>
			<InputSelect class="form-select" @bind-Value="@EditingUser.EatingHabit!.Id">
				@foreach(EatingHabit habit in dpcontext.EatingHabits)
				{
					<option value="@habit.Id">@habit.Name</option>
				}
			</InputSelect>
			<br />
			<a href="EditCommunications/@EditingUser.Id">Edit communications</a>
			<br />
			<a href="EditAddresses/@EditingUser.Id">Edit addresses</a>
			<br />
			<a href="EditUserImages/@UserID">User's pictures</a>
			<br />
			<div class="form-group">
				<label>Allergies:</label>
				<div class="table">
					<table>
						<!-- https://stackoverflow.com/a/68598661/14454399 -->
						<tr>
							@{
								int count = 0;
								foreach(AllergyCarrier allergy in Allergies)
								{
									if (count++ %4 ==0)
									{
										@:</tr><tr>
									}
									<td>
										<form>
										<!-- DONE DA: mach das irgendwie eleganter mit nem Einzeiler -->
											<input type="checkbox" name="selectedAllergies" @oninput="(args)=>ToggleAllergyAsync(args, allergy)" value="@allergy.Allergy!.Id" checked="@allergy.Selected" />
											@allergy.Allergy.Name
										</form>
									</td>
								}
							}
						</tr>
					</table>
				</div>
			</div>
			<div class="form-group">
				<label>Languages:</label>
				<div class="table">
					<table>
						<tr>
							@{
								int langcount = 0;
								foreach(LanguageCarrier language in Languages)
								{
									if (langcount++ % 3 == 0)
									{
										@:</tr><tr>
									}
									<td>
										<form>
											<input type="checkbox" name="selectedLanguages" @oninput="(args)=>ToggleLanguageAsync(args, language)" value="@language.Language!.Id" checked="@language.Selected" />
											@language.Language.Name
										</form>
									</td>
								}
							}
						</tr>
					</table>
				</div>
			</div>
			<div class="form-group">
				<label>Pets:</label>
				<div class="table">
					<table>
						<tr>
							@{
								int petcount = 0;
								foreach(PetCarrier pet in Pets)
								{
									if (petcount++ % 3 == 0)
									{
										@:</tr><tr>
									}
									<td>
										<form>
											<input type="checkbox" name="selectedLanguages" @oninput="(args)=>TogglePetAsync(args, pet)" value="@pet.Pet!.Id" checked="@pet.Selected" />
											@pet.Pet!.Name
										</form>
									</td>
								}
							}
						</tr>
					</table>
				</div>
			</div>
		<label>My message to the world:</label>
		<InputTextArea @bind-Value="EditingUser.UsersComment"></InputTextArea>
	</div>
	<button type="submit">OK</button>
	<label hidden="@HideSavedLabel" class="hint">User saved</label>
</EditForm>
}