@using DA.DinnerPlanner.Model;
@using DA.DinnerPlanner.Model.UnitsTypes
@if (Address != null)
{
<form method="post" asp-page-handler="Submit">
	<input type="text" @bind-value="@Address.Street" name="Street" class="Street" placeholder="Street" />
	<input type="text" @bind-value="@Address.HouseNumber" name="HouseNumber" class="HouseNumber" placeholder="No" />
	<input type="text" @bind-value="@Address.HouseNumberExtension" name="HouseNumberExt" class="HouseNumber" placeholder="No Ext" />
	<input type="text" @bind-value="@Address.ZipCode" name="zipCode" placeholder="ZIP code" />
	<input type="text" @bind-value="@Address.City" name="city" placeholder="City" />
	<InputSelect TValue="int" class="form-select" @bind-Value="CountryId">
		@foreach (Country country in Countries!)
		{
			<option value="@country.Id">@country.CountryName</option>
		}
	</InputSelect>
	<InputCheckbox @bind-Value="@Address.Primary" @onclick="OnPrimaryChangeAsync" /> Primary
</form>
<script>
		select = document.getElementById("countrySelector_@Address.Id");
		select.value="@Address.Country.Id";
</script>
}