@page
@model DA.DinnerPlanner.Razor.Proto.Pages.EditUserModel
@{
	ViewData["Title"] = "Users";
}
<div>
	<h2>Edit User</h2>
	<form asp-page-handler="editsubmit" method="post">
		<div class="form-group">
			<label>Lastname:</label>
			<input type="text" value="@Model.EditUser!.LastName" name="lastName" />
			<br />
			<label>Firstname:</label>
			<input type="text" asp-for="@Model.EditUser!.FirstName" name="firstName" />
			<br />
			<label>Birthdate:</label>
			<input type="date" asp-for="@Model.EditUser.BirthDate" name="birthDate" />
			<br />
			<label asp-for="@Model.EditUser.AvailableAsCook">I'M a cook</label>
			<input type="checkbox" asp-for="@Model.EditUser.AvailableAsCook" name="asCook" />
			<div class="form-group">
				<label>Allergies:</label>
				<div class="table">
					<table>
						<tr>
							@{
								int count = 0;
								foreach(var allergy in Model.UsersAllergies)
								{
									if (count++ %4==0)
									{
										@:</tr><tr>
									}
									@:<td>
										<input type="checkbox" name="selectedAllergies" value="@allergy.AllergyID" @Html.Raw(allergy.Assigned?"checked=\"checked\"":"") />
										@allergy.Name
								}
							}
						</tr>
					</table>
				</div>
			</div>
			<div class="form-group">
				<label>Languages:</label>
				<div class="table">
					<table>
						<tr>
							@{
								count = 0;
								foreach(var lang in Model.UsersLanguages)
								{
									if (count++ % 3 == 0)
									{
										@:</tr><tr>
									}
									@:<td>
										<input type="checkbox" name="selectedLanguages" value="@lang.LanguageId" @Html.Raw(lang.Assigned?"checked=\"checked\"":"") />
										@lang.Name
								}
							}
						</tr>
					</table>
				</div>
			</div>
			<div class="form-group">
				<label>Pets:</label>
				<div class="table">
					<table>
						<tr>
							@{
								count = 0;
								foreach(var pet in Model.UsersPets)
								{
									if (count++ % 3 == 0)
									{
										@:</tr><tr>
									}
									@:<td>
										<input type="checkbox" name="selectedPets" value="@pet.PetId" @Html.Raw(pet.Assigned?"checked=\"checked\"":"") />
										@pet.Name
								}
							}
						</tr>
					</table>
				</div>
			</div>
		</div>
		<input type="submit" class="btn btn-primary" value="ok" />
		<input type="hidden" asp-for="@Model.EditUser.Id" name="id" />
		<input type="hidden" asp-for="@Model.EditUser.GoogleId"/>
	</form>
</div>
